:root {
  --primary-tytle-color: #ffffff;
  --secondary-tytle-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --dark-bg-cl: #2f303a;
  --grey-bg: #f5f4fa;
  --white-rgba: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --icon-color: #afb1b8;
}
